{{ $item := . }}

{{ $media_dir := $.Scratch.Get "media_dir" }}

{{ $target := "" }}
{{ $target = "target=\"_blank\" rel=\"noopener\"" }}

{{/* Get summary. */}}
{{ $summary := "" }}
{{ if $item.abstract }}
  {{ $summary = $item.abstract | markdownify | emojify | truncate (site.Params.abstract_length | default 135) }}
{{ end }}

<div class="media stream-item">
  <div class="media-body">

    {{ with $summary }}
      <div class="article-style">
        {{.}}
      </div>
    {{ end }}

    {{/*  {{ partial "functions/get_dates" $item }}  */}}

    {{/*  <div>
      <span>
        {{ partial "functions/get_event_dates" $item }}
      </span>
      {{ with $item.Params.location }}
      <span class="middot-divider"></span>
      <span>{{ . }}</span>
      {{ end }}
    </div>      */}}

    <div class="btn-links">
      <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="https://doi.org/{{ . }}" target="_blank" rel="noopener">
        DOI
      </a>
      {{ partial "page_links" (dict "page" $item "is_list" 1) }}
    </div>

    <hr>

  </div>

  <div class="ml-3">
    {{/*  {{ $resource := ($item.Resources.ByType "image").GetMatch "*featured*" }}
    {{ with $resource }}
    {{ $image := .Resize "150x" }}
    <a href="{{$link}}" {{ $target | safeHTMLAttr }}>
      <img src="{{ $image.RelPermalink }}" alt="{{ $item.Title }}">
    </a>
    {{end}}  */}}
    <p>{{ $media_dir }}</p>
  </div>

</div>
